@-webkit-keyframes fondu {
    from {opacity: 0;}
    to {opacity: 1;}
}

@-moz-keyframes fondu {
    from {opacity: 0;}
    to {opacity: 1;}
}

@-ms-keyframes fondu {
    from {opacity: 0;}
    to {opacity: 1;}
}

@-o-keyframes fondu {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fondu {
    from {opacity: 0;}
    to {opacity: 1;}
}

html {
    -webkit-animation: fondu 2s;
    -moz-animation: fondu 2s;
    -ms-animation: fondu 2s;
    -o-animation: fondu 2s;
    animation: fondu 2s;
    background: #fff;
    height: 100%;
    width: 100%;
    position: relative;
  	min-height: 100%;
}
body{
	font-family: 'PT Sans', Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
	font-weight: normal;
	font-style: normal;
	color: #333333;
	font-size: 13px;
}
label{
	width:48%;
	display:inline-block;
}
input[type="submit"], input[type="button"]{
	background-color: #8cb636;
    border: 1px solid #8cb636;
    color: white;
    line-height:35px;
    text-align:reight;
    margin-top:25px;
    cursor:pointer;
}

input[type="text"]{
	background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
    font-size: 14px;
    height: 15px;
    line-height: 1.42857;
    padding: 3px 6px;
}
a, h2
{
	color:rgb(213, 27, 50);
	text-decoration:none;
}

h2{
	font-size:15pt;
	color:rgb(213, 27, 50);
	padding-bottom:5px;
}
h3, form{
	color: #333333;
}
table 
{
    border-collapse: collapse;
    border-spacing: 0;
    width:100%;
    margin-bottom:80px;
}
td
{
	border-top: 1px solid #ddd;
    line-height: 1.42857;
    padding: 8px;
}
th
{
	background-color: #fff;
	font-size: 16px;
	padding: 10px 5px;
	text-align: left;
	color: #333333;
}

tr:hover
{
	background:#f3f3f3;
}
@media (max-width: 500px) 
{
	.responsive-table-line td:before 
	{ 
	content: attr(data-title);
	}
	.responsive-table-line table,
	.responsive-table-line thead, 
	.responsive-table-line tbody, 
	.responsive-table-line th, 
	.responsive-table-line td, 
	.responsive-table-line tr 
	{ 
		display: block; 
	} .responsive-table-line 
	thead tr 
	{ 
		display:none;
	}
	.responsive-table-line td 
	{ 
		position: relative;
		padding-left: 42% !important; 
		white-space: normal; 
	}
	.responsive-table-line td:before
	{ 
		position: absolute;
		top: 0px;
		left: 0px;
		width: 35%; 
		padding-right: 15px; 
		height:100%;
		white-space: nowrap;
		text-overflow: ellipsis !important;
		overflow:hidden !important;
		text-align:left;
		background-color:#999;
		padding:8px;
		color:#fff;
	}
	tr
	{
		border: solid 1px #ddd;
	}
	label
	{
		width:90%;
	}
}
fieldset
{
	border:none;
}
#id_search
{
	width: 300px;
	height: 30px;
}
table tr[data-href] {
    cursor: pointer;
}
.block_detail_entreprise
{
	display:block;
	width:500px;
	background-color:#f3f3f3;
	margin: auto;
	margin-top:20px;
	min-height:500px;
	padding: 25px;
	border:#666;
}
img.membre
{
	height:15px;
	margin-right:4px;
}
a.site
{
	z-index:99999999;
	display:block;
	width:100%;
}